*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Build/test logs and artifacts
*.hprof
*_log*.txt
*log_*.txt
*_output.txt
*_log_v*.txt
*_verification*.txt
.kotlin/
